trunk/jsonwebservice/testApp/WEB-INF/wsdl/picasa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?xml-stylesheet type="text/xsl" href="nedstatservice.xslt"?>
<definitions targetNamespace="http://album.com/dispatcher"
	xmlns:tns="http://album.com/dispatcher" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:json="http://code.google.com/json"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<xsd:schema targetNamespace="http://www.w3.org/2001/XMLSchema">
			 <xsd:import namespace="http://www.w3.org/2005/Atom" schemaLocation="picasa.xsd"/>
		</xsd:schema>
	</types>

	<message name="clientLoginInput">
		<part name="requestcontext" type="atom:LoginParameter"></part>
	</message>

	<message name="clientLoginOutput">
		<part name="requestcontext" type="atom:LoginResponse"></part>
	</message>
	
	<message name="clientLoginFault">
		<part name="loginFault" element="atom:fault"/>
	</message>
	
	<message name="credientialInput">
		<part name="crediential" type="atom:Crediential"></part>
	</message>

	<message name="albumListOutput">
		<part name="requestcontext" type="atom:FeedType"></part>
	</message>
	
	<message name="listPhotosInput">
		<part name="crediential" type="atom:Crediential"></part>
		<part name="albumUrl" type="xsd:string"></part>
	</message>

	<message name="listPhotosOutput">
		<part name="requestcontext" type="atom:FeedType"></part>
	</message>

	<portType name="Album">
		<operation name="clientLogin">
			<input name="clientLoginInput" message="tns:clientLoginInput" />
			<output name="clientLoginOutput" message="tns:clientLoginOutput" />
			<fault name="loginFault" message="tns:clientLoginFault"/>
		</operation>
		
		<operation name="listAlbums">
			<input name="crediential" message="tns:credientialInput" />
			<output name="albumList" message="tns:albumListOutput" />
		</operation>
		
		<operation name="listPhotos">
			<input name="listPhotosInput" message="tns:listPhotosInput" />
			<output name="listPhotosOutput" message="tns:listPhotosOutput" />
		</operation>
	</portType>

	<binding name="AlbumService" type="tns:Album">
		<!-- <json:binding transport="http://schemas.xmlsoap.org/soap/http"	style="rpc" />-->
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"	style="rpc" />
		<operation name="clientLogin">
			<soap:operation soapAction="http://code.google.com/p/jsonwebservice/album"
				style="rpc" />
			<input><soap:body use="literal" namespace="http://code.google.com/json"/></input>
		  	<output><soap:body use="literal" namespace="http://code.google.com/json"/></output>
			<fault name="loginFault"> 
		  		<soap:fault name="loginFault" use="literal"/>
			</fault>
		</operation>
		
		<operation name="listAlbums">
			<soap:operation soapAction="http://code.google.com/p/jsonwebservice/album"
				style="rpc" />
			<input><soap:body use="literal" namespace="http://code.google.com/json"/></input>
		  	<output><soap:body use="literal" namespace="http://code.google.com/json"/></output>
		</operation>
		
		<operation name="listPhotos">
			<soap:operation soapAction="http://code.google.com/p/jsonwebservice/album"
				style="rpc" />
			<input><soap:body use="literal" namespace="http://code.google.com/json"/></input>
		  	<output><soap:body use="literal" namespace="http://code.google.com/json"/></output>
		</operation>
	</binding>

	<service name="AlbumService">
		<port name="AlbumServicePort" binding="tns:AlbumService">
			<!-- <json:address location="http://localhost/AlbumService" />-->
			<soap:address location="http://localhost/AlbumService" />
		</port>
	</service>

</definitions>		